.HirePurchaseDashboard{
    display: grid;
    /* grid-template-columns: 5% 95%; */
    grid-template-columns: 15% 85%;
    position: relative;
}
.HirePurchaseDashboard .sideBar{
 /* width: 100px; */
 /* background-color: var(--primary); */
 background-color: rgb(255, 255, 255);
 border-right: 1px solid rgb(224, 224, 224);
 height: 100vh;
 position: relative;
}
.HirePurchaseDashboard .sideBar .profile{ 
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.HirePurchaseDashboard .sideBar .profile button{ 
    width: 100%;
    border: none;
padding: .4rem 0rem;
background-color: var(--success);
color: #fff;
font-weight: bold;
border-radius: 10px 10px 0px 0px;
}
.HirePurchaseDashboard .sideBar .menuList{
    margin-top: 3rem;
}
.HirePurchaseDashboard .sideBar .menuList .menu{
display: flex;
/* justify-content: center; */
align-items: center;
margin-top: 1rem;
}
.HirePurchaseDashboard .sideBar .menuList .menu .icon{
margin-right: 1rem;
font-size: 1.5rem;
}

.HirePurchaseDashboard .mainPage{
    height: 100vh;
    overflow-y: hidden;
}
.HirePurchaseDashboard .mainPage .DashboardContent{
    height: 100vh;
    overflow-y: scroll;
}
.HirePurchaseDashboard .mainPage .topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background-color: rgb(1, 109, 145);
    /* background-color: var(--primary); */
    color: #fff;
    box-shadow: 1px 2px 4px rgba(226, 226, 226, 0.664);
}
.HirePurchaseDashboard .mainPage .topBar .menus ul{
    display: inline-block;
    margin-left: 10px;
}
.HirePurchaseDashboard .mainPage .topBar .menus ul li{
  list-style: none;
    margin-left: 10px;
}
.HirePurchaseDashboard .mainPage .topBar .icon_nd_search{
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}
.HirePurchaseDashboard .mainPage .topBar .menus  li{
    display: inline-block;
    margin-left: 10px;
}
.HirePurchaseDashboard .mainPage .topBar .prodileInfo{
    display: flex;
    justify-content: space-between;
}
.HirePurchaseDashboard .mainPage .topBar .prodileInfo .icon{
font-size: 1.4rem;
margin: 0px 10px;
}
.HirePurchaseDashboard .mainPage .topBar .prodileInfo .userImage img{
width: 20px;
margin: 0px 10px;
}


.HirePurchaseDashboard .mainPage .cardContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.HirePurchaseDashboard .mainPage .cardContainer .card{
 border: .6px solid rgba(51, 153, 139, 0.384);
 /* width: 80%; */
}
.HirePurchaseDashboard .mainPage .cardContainer .card img{
    width: 50px;
    
}
.HirePurchaseDashboard .mainPage .cardContainer .imgCover{
    width: 50px;
    height: 50px;
    background: rgb(51, 153, 139);
    margin: .5rem 0rem;
}
.HirePurchaseDashboard .mainPage .cardContainer .section1{
    padding: 1rem 1rem;
}
.HirePurchaseDashboard .mainPage .cardContainer .section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--success);
    padding: .4rem .5rem;
    color: white;
    font-weight: bold;
    /* padding: 0rem .4rem; */
}
.HirePurchaseDashboard .chart_nd_deductions{
    display: grid;
    grid-template-columns: 65% 35%;
    margin: 1rem 0rem;
    padding-top: 1rem;
}
.HirePurchaseDashboard .chart{
  background-color: white;
  padding-top: 1rem;
}
.HirePurchaseDashboard .deductions{
background-color: #fff;
display: grid;
grid-template-columns: repeat(2, 1fr);
justify-content: center;
align-items: center;
text-align: center;
}
.HirePurchaseDashboard .deductions .card{
background-color: white;
width: 90%;
padding: .3rem 0rem;
margin: 0 auto;
box-shadow: -4px 3px 26px -5px rgba(115,115,115,0.75);
-webkit-box-shadow: -4px 3px 26px -5px rgba(115,115,115,0.75);
-moz-box-shadow: -4px 3px 26px -5px rgba(115,115,115,0.75);
}
.HirePurchaseDashboard .deductions .card .icon{
font-weight: bold;
font-size: 1.8rem;

}
.HirePurchaseDashboard .deductions .card .title{
font-weight: bold;
padding-top: .5rem;

}
.HirePurchaseDashboard .deductions .card .subTitle{
font-size: .9rem;
color: var(--grayDeep);
padding: .2rem 0rem;
}
.HirePurchaseDashboard .deductions .card .value{
font-size: .9rem;
padding: .2rem 0rem;
font-weight: bold;
}


/* table style */
.HirePurchaseDashboard .usersDisplay{
    display: grid;
    grid-template-columns: 65% 35%;

}
.HirePurchaseDashboard .usersDisplay .usersList{
 

}
.HirePurchaseDashboard .usersDisplay .usersList .usersTable{

}
.HirePurchaseDashboard .usersDisplay .usersList .usersTable table{
border: 0px solid white;
box-shadow: -4px 3px 26px -5px rgba(115,115,115,0.75);
-webkit-box-shadow: -4px 3px 26px -5px rgba(115,115,115,0.75);
-moz-box-shadow: -4px 3px 26px -5px rgba(115,115,115,0.75);
}
.HirePurchaseDashboard .usersDisplay .usersList .usersTable table thead th{
border: 0px solid white;
}
.HirePurchaseDashboard .usersDisplay .usersList .usersTable table tbody tr:nth-child(odd){
background-color: white;
}
